@import url(../../../bower_components/switchery/dist/switchery.min.css);
/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-0 {
  top: 0px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-0 {
  bottom: 0px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-0 {
  left: 0px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-0 {
  right: 0px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-1 {
  top: 1px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-1 {
  bottom: 1px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-1 {
  left: 1px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-1 {
  right: 1px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-2 {
  top: 2px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-2 {
  bottom: 2px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-2 {
  left: 2px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-2 {
  right: 2px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-4 {
  top: 4px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-4 {
  bottom: 4px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-4 {
  left: 4px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-4 {
  right: 4px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-5 {
  top: 5px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-5 {
  bottom: 5px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-5 {
  left: 5px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-5 {
  right: 5px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-10 {
  top: 10px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-10 {
  bottom: 10px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-10 {
  left: 10px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-10 {
  right: 10px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-15 {
  top: 15px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-15 {
  bottom: 15px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-15 {
  left: 15px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-15 {
  right: 15px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-20 {
  top: 20px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-20 {
  bottom: 20px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-20 {
  left: 20px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-20 {
  right: 20px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-25 {
  top: 25px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-25 {
  bottom: 25px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-25 {
  left: 25px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-25 {
  right: 25px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-30 {
  top: 30px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-30 {
  bottom: 30px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-30 {
  left: 30px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-30 {
  right: 30px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-35 {
  top: 35px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-35 {
  bottom: 35px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-35 {
  left: 35px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-35 {
  right: 35px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-40 {
  top: 40px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-40 {
  bottom: 40px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-40 {
  left: 40px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-40 {
  right: 40px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-45 {
  top: 45px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-45 {
  bottom: 45px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-45 {
  left: 45px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-45 {
  right: 45px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-50 {
  top: 50px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-50 {
  bottom: 50px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-50 {
  left: 50px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-50 {
  right: 50px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-55 {
  top: 55px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-55 {
  bottom: 55px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-55 {
  left: 55px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-55 {
  right: 55px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-60 {
  top: 60px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-60 {
  bottom: 60px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-60 {
  left: 60px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-60 {
  right: 60px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-65 {
  top: 65px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-65 {
  bottom: 65px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-65 {
  left: 65px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-65 {
  right: 65px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-70 {
  top: 70px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-70 {
  bottom: 70px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-70 {
  left: 70px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-70 {
  right: 70px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-75 {
  top: 75px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-75 {
  bottom: 75px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-75 {
  left: 75px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-75 {
  right: 75px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-80 {
  top: 80px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-80 {
  bottom: 80px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-80 {
  left: 80px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-80 {
  right: 80px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-85 {
  top: 85px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-85 {
  bottom: 85px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-85 {
  left: 85px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-85 {
  right: 85px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-90 {
  top: 90px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-90 {
  bottom: 90px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-90 {
  left: 90px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-90 {
  right: 90px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-95 {
  top: 95px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-95 {
  bottom: 95px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-95 {
  left: 95px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-95 {
  right: 95px !important;
}

/* line 186, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.t-100 {
  top: 100px !important;
}

/* line 189, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.b-100 {
  bottom: 100px !important;
}

/* line 192, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.l-100 {
  left: 100px !important;
}

/* line 195, ../../../../../../../Users/gparmar/workspace/emerald/source/scss/_mixins.scss */
.r-100 {
  right: 100px !important;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* line 5, ../donation.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 9, ../donation.scss */
#main > #wrapper .fonteva-topnav.hidden {
  display: block !important;
}

/* line 13, ../donation.scss */
.panel.panel-default {
  border: 0;
  box-shadow: none;
}

/* line 18, ../donation.scss */
.panel-body h4 {
  font-weight: bold;
  font-size: 16px;
}

/* line 23, ../donation.scss */
#nav {
  margin-top: 30px;
}

/* line 27, ../donation.scss */
.fund-modal-footer {
  padding: 15px;
}

/* line 31, ../donation.scss */
#pageBrand {
  display: none;
  visibility: hidden;
}

/* line 35, ../donation.scss */
.panel.panel-default {
  border-width: 0 !important;
}

/* line 38, ../donation.scss */
.catalog-donation-display .form-title {
  font-size: 26px;
}

/* line 41, ../donation.scss */
.sep:before, .sep:after {
  content: ' ';
}

/* line 44, ../donation.scss */
.sep {
  font-size: 14px;
}

/* line 47, ../donation.scss */
.totalRaisedToDate, .goal {
  font-size: 16px;
  font-weight: 600;
}

/* line 52, ../donation.scss */
h3 {
  font-size: 18px;
  font-weight: bold;
}

/* line 57, ../donation.scss */
ul.slogs > li > a {
  padding: 15px 32px 13px 32px;
  font-size: 17px;
  border-radius: 3px;
  margin: 0 8px 0 0;
}

/* line 65, ../donation.scss */
ul.nav.slogs > li > a {
  -khtml-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

/* line 68, ../donation.scss */
ul.nav.slogs > li > a:focus, ul.nav.slogs > li > a:hover {
  zoom: 1;
  -ms-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
}

/* line 78, ../donation.scss */
body#main #content-wrapper {
  visibility: hidden !important;
}

/* line 79, ../donation.scss */
body#main.pg-loaded #content-wrapper {
  visibility: visible !important;
}

/* line 80, ../donation.scss */
body#main #checkout {
  visibility: hidden !important;
}

/* line 81, ../donation.scss */
body#main.pg-loaded #checkout {
  visibility: visible !important;
}

/* line 83, ../donation.scss */
.catalog-donation-display .modal-backdrop {
  z-index: -1 !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 91, ../donation.scss */
  .catalog-donation-display .modal-item-search-filters, .catalog-donation-display .modal-item-search-results {
    height: 400px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 100, ../donation.scss */
  .catalog-donation-display .modal-item-search-filters, .catalog-donation-display .modal-item-search-results {
    height: 250px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* line 109, ../donation.scss */
  .catalog-donation-display .modal-item-search-filters, .catalog-donation-display .modal-item-search-results {
    height: 250px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  height: 500px;
}
/* line 125, ../donation.scss */
.input-group.fund-search-lookup div > span.input-group-addon-search-icon {
  display: table-cell !important;
}

/* line 134, ../donation.scss */
.catalog-donation-display #listOfFunds, .catalog-donation-display #singleCatalogFunds, .catalog-donation-display #listOfFunds li {
  margin-top: 20px;
}
/* line 138, ../donation.scss */
.catalog-donation-display #singleCatalogFunds h4 {
  margin-bottom: 10px;
}
/* line 142, ../donation.scss */
.catalog-donation-display .catalog-donation-display .form-title {
  font-size: 26px;
}
/* line 143, ../donation.scss */
.catalog-donation-display .sep:before, .catalog-donation-display .sep:after {
  content: " ";
}
/* line 144, ../donation.scss */
.catalog-donation-display .sep {
  font-size: 14px;
}
/* line 145, ../donation.scss */
.catalog-donation-display .totalRaisedToDate, .catalog-donation-display .goal {
  font-size: 16px;
  font-weight: 600;
}
/* line 146, ../donation.scss */
.catalog-donation-display ul.slogs > li > a {
  font-size: 17px;
  border-radius: 3px;
  margin: 0 8px 0 0;
}
/* line 153, ../donation.scss */
.catalog-donation-display ul.nav.slogs > li > a {
  -khtml-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}
/* line 156, ../donation.scss */
.catalog-donation-display ul.nav.slogs > li > a:focus, .catalog-donation-display ul.nav.slogs > li > a:hover {
  zoom: 1;
  -ms-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
}
/* line 165, ../donation.scss */
.catalog-donation-display .m-l-negative-20 {
  margin-left: -20px;
}
/* line 166, ../donation.scss */
.catalog-donation-display .m-t-negative-10 {
  margin-left: -10px;
}
/* line 168, ../donation.scss */
.catalog-donation-display .modal-item-search-filters {
  height: 400px;
}
/* line 169, ../donation.scss */
.catalog-donation-display .modal-item-search-filters > li > a, .catalog-donation-display .modal-item-search-filters > div > li > a {
  font-size: 12px;
}
/* line 171, ../donation.scss */
.catalog-donation-display .modal-item-search-results {
  height: 400px;
}
/* line 173, ../donation.scss */
.catalog-donation-display .disabled-label {
  padding-top: 5px;
  color: #ccc;
}
/* line 175, ../donation.scss */
.catalog-donation-display .donationAmount {
  width: 180px;
  float: left;
}
/* line 176, ../donation.scss */
.catalog-donation-display .donation-amount-input-values {
  text-align: right;
}
/* line 178, ../donation.scss */
.catalog-donation-display .donation-summary-table-input {
  float: right;
  width: 200px;
}
/* line 180, ../donation.scss */
.catalog-donation-display .donation-summary-container {
  box-shadow: 0 0 0px black;
  background-color: #FAFAFA;
  opacity: .7;
  padding-top: 9px;
}
/* line 189, ../donation.scss */
.catalog-donation-display .table > tbody > tr > th, .catalog-donation-display .table > tbody > tr > td {
  border-top: none;
}
/* line 193, ../donation.scss */
.catalog-donation-display .donation-summary-total-label, .catalog-donation-display .iso-code-summary-table-label {
  padding-top: 7px;
}
/* line 194, ../donation.scss */
.catalog-donation-display .donation-summary-table-title {
  margin-left: 10px;
  padding-top: 5px;
}
/* line 195, ../donation.scss */
.catalog-donation-display .donation-summary-item-name, .catalog-donation-display .donation-summary-item-amount {
  border-top: none;
}
/* line 196, ../donation.scss */
.catalog-donation-display .donation-summary-table-total {
  background-color: #FAFAFA;
  border: none;
  box-shadow: none;
}
/* line 197, ../donation.scss */
.catalog-donation-display .summary-donation-table-total-row {
  width: 150px;
}
/* line 199, ../donation.scss */
.catalog-donation-display input.parsley-error,
.catalog-donation-display select.parsley-error,
.catalog-donation-display textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
/* line 207, ../donation.scss */
.catalog-donation-display .parsley-errors-list {
  margin: 2px 0 3px;
  padding: 5px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: red;
  -khtml-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 218, ../donation.scss */
.catalog-donation-display .parsley-errors-list.filled {
  opacity: 1;
}
/* line 221, ../donation.scss */
.catalog-donation-display .fund-modal-footer {
  padding: 15px;
  border: none;
}
/* line 223, ../donation.scss */
.catalog-donation-display .catalog-name-modal {
  padding-top: 15px;
}
/* line 224, ../donation.scss */
.catalog-donation-display .catalog-body-modal {
  margin-left: -1px;
}
/* line 226, ../donation.scss */
.catalog-donation-display .catalog-list-link {
  padding: 0px 15px;
}
/* line 228, ../donation.scss */
.catalog-donation-display .category-list-donation-nav {
  background-color: #FAFAFA;
}
/* line 230, ../donation.scss */
.catalog-donation-display .modal-body {
  padding: 0px;
}
/* line 232, ../donation.scss */
.catalog-donation-display .modal-summary-selected-items {
  float: right;
  margin-bottom: -20px;
  margin-top: -25px;
}
/* line 234, ../donation.scss */
.catalog-donation-display #listOfFunds, .catalog-donation-display #listOfFunds li, .catalog-donation-display #singleCatalogFunds {
  margin-top: 0px;
}
/* line 236, ../donation.scss */
.catalog-donation-display .donation-iso-code-single-amount {
  margin: -6px 0 11px;
}
/* line 237, ../donation.scss */
.catalog-donation-display .donation-amount-currency {
  padding-left: 10px;
  float: left;
}
/* line 238, ../donation.scss */
.catalog-donation-display .monthly-new-line {
  display: none;
}
/* line 240, ../donation.scss */
.catalog-donation-display .write-in-field-input, .catalog-donation-display .company-match-input, .catalog-donation-display .field-set-donation, .catalog-donation-display .fund-picklist, .catalog-donation-display .fund-search-lookup {
  width: 300px;
}
/* line 241, ../donation.scss */
.catalog-donation-display .number-of-payments-select {
  width: 200px;
}
/* line 242, ../donation.scss */
.catalog-donation-display .edit-donations-summary-link {
  margin-top: 10px;
}
/* line 243, ../donation.scss */
.catalog-donation-display .button-link-action {
  font-size: 14px;
}
/* line 244, ../donation.scss */
.catalog-donation-display button.button-link-action:hover {
  text-decoration: underline;
}
/* line 245, ../donation.scss */
.catalog-donation-display .welloverview {
  text-align: center;
  min-height: 20px;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 258, ../donation.scss */
.catalog-donation-display .edit-donations-modal-link-btn {
  margin-right: -7px;
}
/* line 259, ../donation.scss */
.catalog-donation-display .option {
  padding: 10px 10px 10px 10px;
}
/* line 260, ../donation.scss */
.catalog-donation-display .parsley-errors-list.filled {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 262, ../donation.scss */
  .catalog-donation-display .monthly-new-line {
    display: block;
  }
  /* line 263, ../donation.scss */
  .catalog-donation-display .donation-main-body, .catalog-donation-display .donation-side-bar {
    width: 100%;
  }
  /* line 264, ../donation.scss */
  .catalog-donation-display .donation-summary-table-input {
    width: 100%;
  }
  /* line 265, ../donation.scss */
  .catalog-donation-display .donationAmount {
    width: 80%;
  }
  /* line 266, ../donation.scss */
  .catalog-donation-display .write-in-field-input, .catalog-donation-display .company-match-input, .catalog-donation-display .field-set-donation, .catalog-donation-display .number-of-payments-select, .catalog-donation-display .donation-start-date, .catalog-donation-display .fund-picklist, .catalog-donation-display .fund-search-lookup {
    width: 88%;
  }
  /* line 267, ../donation.scss */
  .catalog-donation-display .monthly-fund-options {
    width: 100%;
  }
}
/* line 270, ../donation.scss */
.catalog-donation-display .catalog-list-link {
  padding: 5px 0;
}
/* line 272, ../donation.scss */
.catalog-donation-display .catalog-list-link > h6 {
  font-size: 16px;
}
/* line 277, ../donation.scss */
.catalog-donation-display .nav > li > a {
  padding: 0px 15px;
}
/* line 280, ../donation.scss */
.catalog-donation-display .nav > li > a.modal-view-more {
  padding: 0px;
}
/* line 282, ../donation.scss */
.catalog-donation-display .nav > li > a.modal-view-more:hover, .catalog-donation-display .nav > li > a.modal-view-more:focus, .catalog-donation-display .nav > li > a.modal-view-more:active {
  background: none;
}
/* line 287, ../donation.scss */
.catalog-donation-display .fund-table-header {
  padding-top: 20px;
  padding-bottom: 15px;
}
/* line 292, ../donation.scss */
.catalog-donation-display .modal .modal-body {
  padding: 0;
}
/* line 296, ../donation.scss */
.catalog-donation-display .modal-item-search-filters, .catalog-donation-display .modal-item-search-results {
  margin-top: -10px;
}
/* line 300, ../donation.scss */
.catalog-donation-display .monthly-fund-type {
  margin-top: 10px;
}
/* line 304, ../donation.scss */
.catalog-donation-display .error-message-container {
  margin-top: 10px;
}
/* line 308, ../donation.scss */
.catalog-donation-display .fund-modal-footer .cancel-previous-button {
  opacity: 0.5;
}
/* line 312, ../donation.scss */
.catalog-donation-display .catalog-body-modal .category-list-donation-nav, .catalog-donation-display .catalog-body-modal .category-detail-donation-nav {
  overflow-y: auto;
}
/* line 316, ../donation.scss */
.catalog-donation-display #fund-search .scrollable {
  overflow-x: auto !important;
  overflow-y: auto !important;
}
/* line 321, ../donation.scss */
.catalog-donation-display .category-detail-donation-nav #featuredFunds {
  overflow-y: scroll;
}
/* line 327, ../donation.scss */
.catalog-donation-display #fund-search .input-group-btn > button {
  padding: 6.5px 24px;
}
/* line 329, ../donation.scss */
.catalog-donation-display #fund-search .catalog-list-link > h6 {
  font-size: 14px;
  line-height: 24px;
}
/* line 336, ../donation.scss */
.catalog-donation-display .catalog-list-link {
  padding: 5px 0;
}
/* line 338, ../donation.scss */
.catalog-donation-display .catalog-list-link > h6 {
  font-size: 16px;
}
/* line 343, ../donation.scss */
.catalog-donation-display .modal-backdrop {
  z-index: -1 !important;
}

/* line 355, ../donation.scss */
.catalog-list-link {
  padding: 5px 0;
}
/* line 357, ../donation.scss */
.catalog-list-link > h6 {
  font-size: 16px;
}

/* line 364, ../donation.scss */
span.twitter-typeahead .tt-dropdown-menu {
  overflow: scroll;
  height: 100px;
}

/* line 369, ../donation.scss */
.modal-item-search-filters {
  height: 400px;
}

/* line 370, ../donation.scss */
.modal-item-search-filters > li > a {
  font-size: 12px;
}

/* line 371, ../donation.scss */
.modal-item-search-results {
  height: 400px;
}

/* line 372, ../donation.scss */
.scrollable {
  overflow: scroll;
}

/* line 381, ../donation.scss */
#fund-search .catalog-list-link > h6 {
  font-size: 14px;
  line-height: 24px;
  padding: 4px 0 10px 0;
}
