/* --- EBUSINESS BACKGROUND --- */
/* --- /EBUSINESS BACKGROUND --- */
.slds-input-width--1 {
    width: 1em;
}

.slds-input-width--2 {
    width: 2em;
}

.slds-input-width--3 {
    width: 3em;
}

.slds-input-width--4 {
    width: 4em;
}

.slds-input-width--5 {
    width: 5em;
}

.slds-input-width--small {
    width: 4rem;
}

.slds-input-width--medium {
    width: 8rem;
}

.slds-icon-fonteva-spark {
    background-color: #ef761c;
}

.slds-icon-fonteva-spark--alt {
    background-color: transparent;
    fill: #ef761c;
}

.slds-icon-fonteva-ebusiness {
    background-color: #1d9c48;
}

.slds-icon-fonteva-ebusiness--alt {
    background-color: transparent;
    fill: #1d9c48;
}

.slds-icon-fonteva-estore {
    background-color: #20bb9b;
}

.slds-icon-fonteva-estore--alt {
    background-color: transparent;
    fill: #20bb9b;
}

.slds-icon-fonteva-communities {
    background-color: #2cb0d4;
}

.slds-icon-fonteva-communities--alt {
    background-color: transparent;
    fill: #2cb0d4;
}

.slds-icon-fonteva-accounting {
    background-color: #d47e2c;
}

.slds-icon-fonteva-accounting--alt {
    background-color: transparent;
    fill: #d47e2c;
}

.slds-icon-fonteva-events {
    background-color: #434E6E;
}

.slds-icon-fonteva-events--alt {
    background-color: transparent;
    fill: #434E6E;
}

.slds-icon-fonteva-form_builder {
    background-color: #2c82d4;
}

.slds-icon-fonteva-form_builder--alt {
    background-color: transparent;
    fill: #2c82d4;
}

.slds-icon-fonteva-invoice {
    background-color: #ff7f99;
}

.slds-icon-fonteva-invoice--alt {
    background-color: transparent;
    fill: #ff7f99;
}

.slds-icon-fonteva-receipt {
    background-color: #007f99;
}

.slds-icon-fonteva-receipt--alt {
    background-color: transparent;
    fill: #007f99;
}

.slds-icon-fonteva-salesorder {
    background-color: #007ff9;
}

.slds-icon-fonteva-salesorder--alt {
    background-color: transparent;
    fill: #007ff9;
}

.slds-icon-fonteva-epayment {
    background-color: #f0dd1f;
}

.slds-icon-fonteva-epayment--alt {
    background-color: transparent;
    fill: #f0dd1f;
}

.slds-icon-fonteva-subscription {
    background-color: #b02e78;
}

.slds-icon-fonteva-subscription--alt {
    background-color: transparent;
    fill: #b02e78;
}

.slds-icon-fonteva-payment_method {
    background-color: #61c71d;
}

.slds-icon-fonteva-payment_method--alt {
    background-color: transparent;
    fill: #61c71d;
}

.slds-icon-fonteva-object {
    background-color: #d466d0;
}

.slds-icon-fonteva-object--alt {
    background-color: transparent;
    fill: #d466d0;
}

.slds-icon-fonteva-marketplace {
    background-color: #ff7f99;
}

.slds-icon-fonteva-marketplace--alt {
    background-color: transparent;
    fill: #ff7f99;
}

.slds-icon-fonteva-api_service {
    background-color: #777;
}

.slds-icon-fonteva-api_service--alt {
    background-color: transparent;
    fill: #777;
}

.slds-icon-fonteva-routing_rule {
    background-color: #cd8920;
}

.slds-icon-fonteva-routing_rule--alt {
    background-color: transparent;
    fill: #cd8920;
}

.slds-icon-fonteva-rollup_summary {
    background-color: #3b81ac;
}

.slds-icon-fonteva-rollup_summary--alt {
    background-color: transparent;
    fill: #3b81ac;
}

.slds-icon-fonteva-config_summary {
    background-color: #60ac3b;
}

.slds-icon-fonteva-config_summary--alt {
    background-color: transparent;
    fill: #60ac3b;
}

.slds-icon-fonteva-help_resource {
    background-color: #ac3b3b;
}

.slds-icon-fonteva-help_resource--alt {
    background-color: transparent;
    fill: #ac3b3b;
}

.slds-icon-fonteva-access_manager {
    background-color: #3baca8;
}

.slds-icon-fonteva-access_manager--alt {
    background-color: transparent;
    fill: #3baca8;
}

.slds-icon-fonteva-community_group {
    background-color: #1dcda5;
}

.slds-icon-fonteva-community_group--alt {
    background-color: transparent;
    fill: #1dcda5;
}

.slds-icon-fonteva-event {
    background-color: #d45959;
}

.slds-icon-fonteva-event--alt {
    background-color: transparent;
    fill: #d45959;
}

.slds-icon-fonteva-venue {
    background-color: #59d479;
}

.slds-icon-fonteva-venue--alt {
    background-color: transparent;
    fill: #59d479;
}

.slds-icon-fonteva-ticket_type {
    background-color: #d459c5;
}

.slds-icon-fonteva-ticket_type--alt {
    background-color: transparent;
    fill: #d459c5;
}

.slds-icon-fonteva-schedule {
    background-color: #27a4cb;
}

.slds-icon-fonteva-schedule--alt {
    background-color: transparent;
    fill: #27a4cb;
}

.slds-icon-fonteva-speaker {
    background-color: #4b63dc;
}

.slds-icon-fonteva-speaker--alt {
    background-color: transparent;
    fill: #4b63dc;
}

.slds-icon-fonteva-registration_group {
    background-color: #d49812;
}

.slds-icon-fonteva-registration_group--alt {
    background-color: transparent;
    fill: #d49812;
}

.slds-icon-fonteva-vendor {
    background-color: #20cfcf;
}

.slds-icon-fonteva-vendor--alt {
    background-color: transparent;
    fill: #20cfcf;
}

.slds-icon-fonteva-attendee {
    background-color: #15b756;
}

.slds-icon-fonteva-attendee--alt {
    background-color: transparent;
    fill: #15b756;
}

.slds-icon-fonteva-store {
    background-color: #dd0c30;
}

.slds-icon-fonteva-store--alt {
    background-color: transparent;
    fill: #dd0c30;
}

.slds-icon-fonteva-campaign_page {
    background-color: #007f99;
}

.slds-icon-fonteva-campaign_page--alt {
    background-color: transparent;
    fill: #007f99;
}

.slds-icon-fonteva-catalog {
    background-color: #b02e78;
}

.slds-icon-fonteva-catalog--alt {
    background-color: transparent;
    fill: #b02e78;
}

.slds-icon-fonteva-item_class {
    background-color: #007ff9;
}

.slds-icon-fonteva-item_class--alt {
    background-color: transparent;
    fill: #007ff9;
}

.slds-icon-fonteva-item {
    background-color: #f0dd1f;
}

.slds-icon-fonteva-item--alt {
    background-color: transparent;
    fill: #f0dd1f;
}

.slds-icon-fonteva-subscription_plan {
    background-color: #61c71d;
}

.slds-icon-fonteva-subscription_plan--alt {
    background-color: transparent;
    fill: #61c71d;
}

.slds-icon-fonteva-source_code {
    background-color: #8e34b3;
}

.slds-icon-fonteva-source_code--alt {
    background-color: transparent;
    fill: #8e34b3;
}

.slds-icon-fonteva-badge_type {
    background-color: #c7b31d;
}

.slds-icon-fonteva-badge_type--alt {
    background-color: transparent;
    fill: #c7b31d;
}

.slds-icon-fonteva-site {
    background-color: #d459ff;
}

.slds-icon-fonteva-site--alt {
    background-color: transparent;
    fill: #d459ff;
}

.slds-icon-fonteva-media_collection {
    background-color: #2059cf;
}

.slds-icon-fonteva-media_collection--alt {
    background-color: transparent;
    fill: #2059cf;
}

.slds-icon-fonteva-theme {
    background-color: #ff00d3;
}

.slds-icon-fonteva-theme--alt {
    background-color: transparent;
    fill: #ff00d3;
}

.slds-icon-fonteva-business_group {
    background-color: #ecd637;
}

.slds-icon-fonteva-business_group--alt {
    background-color: transparent;
    fill: #ecd637;
}

.slds-icon-fonteva-transaction {
    background-color: #f98947;
}

.slds-icon-fonteva-transaction--alt {
    background-color: transparent;
    fill: #f98947;
}

.slds-icon-fonteva-batch {
    background-color: #16c786;
}

.slds-icon-fonteva-batch--alt {
    background-color: transparent;
    fill: #16c786;
}

.slds-icon-fonteva-account {
    background-color: #1d9c73;
}

.slds-icon-fonteva-account--alt {
    background-color: transparent;
    fill: #1d9c73;
}

.slds-icon-fonteva-contact {
    background-color: #4790dc;
}

.slds-icon-fonteva-contact--alt {
    background-color: transparent;
    fill: #4790dc;
}

.slds-icon-fonteva-sponsor {
    background-color: #4b25d4;
}

.slds-icon-fonteva-sponsor--alt {
    background-color: transparent;
    fill: #4b25d4;
}

.slds-icon-fonteva-brand {
    background-color: #fbaf34;
}

.slds-icon-fonteva-brand--alt {
    background-color: transparent;
    fill: #fbaf34;
}

.slds-icon-fonteva-fun {
    background-color: #30b1c6;
}

.slds-icon-fonteva-fun--alt {
    background-color: transparent;
    fill: #30b1c6;
}

.fa-color--twitter {
    color: #54abee;
}

.fa-color--facebook {
    color: #3c5a98;
}

.fa-color--linkedin {
    color: #007ab9;
}

.fa-color--googleplus {
    color: #dd4c3b;
}

.slds-object--block-x-large {
    height: 1rem;
    width: 4rem;
    background-color: #d8dde6;
    margin-right: 0.5rem;
}

.slds-object--block-large {
    height: 1rem;
    width: 3rem;
    background-color: #d8dde6;
    margin-right: 0.5rem;
}

.slds-object--block-medium {
    height: 1rem;
    width: 2rem;
    background-color: #d8dde6;
    margin-right: 0.5rem;
}

.slds-object--block-small {
    height: 1rem;
    width: 1rem;
    background-color: #d8dde6;
    margin-right: 0.5rem;
}

.slds-object--block-x-small {
    height: 1rem;
    width: 0.5rem;
    background-color: #d8dde6;
    margin-right: 0.5rem;
}

.slds-theme--company-primary {
    background-color: #00A388 ;
}

.slds-theme--company-secondary {
    background-color: #FFFF9D ;
}

.slds-theme--company-tertiary {
    background-color: #79BD8F ;
}

.slds-fonteva-page-header.slds-theme--spark {
    background-color: #ef761c;
}

.slds-fonteva-page-header.slds-theme--spark .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--spark .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__spark:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__spark.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #ef761c;
}

.slds-fonteva-page-header.slds-theme--engage {
    background-color: #673ab7;
}

.slds-fonteva-page-header.slds-theme--engage .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--engage .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__engage:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__engage.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #673ab7;
}

.slds-fonteva-page-header.slds-theme--assemble {
    background-color: #434E6E;
}

.slds-fonteva-page-header.slds-theme--assemble .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--assemble .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__assemble:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__assemble.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #434E6E;
}

.slds-fonteva-page-header.slds-theme--ebusiness {
    background-color: #1d9c48;
}

.slds-fonteva-page-header.slds-theme--ebusiness .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--ebusiness .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__ebusiness:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__ebusiness.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #1d9c48;
}

.slds-fonteva-page-header.slds-theme--accounting {
    background-color: #d47e2c;
}

.slds-fonteva-page-header.slds-theme--accounting .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--accounting .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__accounting:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__accounting.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #d47e2c;
}

.slds-fonteva-page-header.slds-theme--communities {
    background-color: #2cb0d4;
}

.slds-fonteva-page-header.slds-theme--communities .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--communities .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__communities:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__communities.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #2cb0d4;
}

.slds-fonteva-page-header.slds-theme--estore {
    background-color: #20bb9b;
}

.slds-fonteva-page-header.slds-theme--estore .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--estore .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__estore:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__estore.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #20bb9b;
}

.slds-fonteva-page-header.slds-theme--events {
    background-color: #434E6E;
}

.slds-fonteva-page-header.slds-theme--events .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--events .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__events:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__events.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #434E6E;
}

.slds-fonteva-page-header.slds-theme--form_builder {
    background-color: #2c82d4;
}

.slds-fonteva-page-header.slds-theme--form_builder .slds-icon-text-default {
    fill: white;
}

.slds-fonteva-page-header.slds-theme--form_builder .slds-icon {
    fill: white;
}

.slds-object-height--prompt-app .slds-app--link__form_builder:hover .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default, .slds-object-height--prompt-app .slds-app--link__form_builder.active .slds-app--link .slds-icon.slds-icon--medium.slds-icon-text-default {
    fill: #2c82d4;
}

.slds-progress__item {
    position: relative ;
}

.slds-progress__item.slds-is-active .slds-step-description, .slds-progress__item.slds-is-completed .slds-step-description {
    opacity: 1 ;
}

.slds-progress__item .slds-step-description {
    -webkit-transform: translateX(-50%) ;
    transform: translateX(-50%) ;
    left: 50% ;
    top: 2rem ;
    position: absolute ;
    text-align: center ;
    white-space: nowrap;
}

.fonteva-slds-step-not-complete {
    opacity: 0.8;
}

.slds-progress {
    top: -1em ;
}

.slds-button.slds-button--inverse {
    font-size: 0.875rem ;
    line-height: 2.425rem ;
}

.slds-button--inverse {
    border-radius: 0 ;
}

.slds-button--inverse:hover {
    background-color: #008a73 ;
    color: white ;
}

.slds-progress__item.slds-is-active .slds-progress__marker {
    border: 4px white solid ;
    width: 1.5rem ;
    height: 1.5rem ;
}
.slds-progress__marker {
    border-radius: 50px;
}

.slds-progress__item.slds-is-active .slds-progress__marker {
    box-shadow: none ;
}

.slds-progress__item.slds-is-completed {
    cursor: pointer;
}

.slds-progress__item.slds-is-completed .slds-progress__marker {
    border: 2px solid white ;
}

.slds-progress__item.slds-is-completed .slds-progress__marker--icon {
    background-color: white ;
    width: 1.5rem ;
    height: 1.5rem ;
}

.slds-progress__item.slds-is-completed .slds-progress__marker--icon svg {
    fill: #008a73 ;
}

.slds-progress__item.slds-is-completed:hover .slds-progress__marker--icon {
    background-color: #008a73 ;
}

.slds-progress__item.slds-is-completed:hover .slds-progress__marker--icon svg {
    fill: white ;
}

.slds-progress__item.slds-is-active,
.slds-progress__item.slds-is-completed {
    opacity: 1 ;
}

.slds-progress__marker {
    width: 1.5rem ;
    height: 1.5rem ;
}

.slds-progress .slds-progress-bar {
    position: absolute ;
    top: 50% ;
    margin-top: -0.05rem ;
}

.slds-progress-bar .slds-progress-bar__value {
    display: block ;
    height: 0.25rem ;
}

.slds-progress-bar {
    height: 2px ;
}

.slds-custom-navbar {
    padding-top: 4.25em ;
}

.slds-md-show {
    display: none ;
}

.slds-max-sm-show {
    display: -webkit-box ;
    display: -ms-flexbox ;
    display: flex ;
    margin-top: 5em ;
}

@media (max-width: 480px) {
    .slds-custom-navbar {
        padding-top: 4.25em ;
    }

    .slds-max-sm-show {
        display: -webkit-box ;
        display: -ms-flexbox ;
        display: flex ;
    }

    .slds-md-show {
        display: none ;
    }
}

@media (max-width: 768px) {
    .slds-progress {
        max-width: 100% ;
    }
}

@media (min-width: 768px) {
    .slds-progress {
        max-width: 100% ;
    }

    .slds-custom-navbar {
        padding-top: 4.25em ;
    }

    .slds-max-sm-show {
        display: -webkit-box ;
        display: -ms-flexbox ;
        display: flex ;
    }

    .slds-md-show {
        display: none ;
    }
}

@media (min-width: 1024px) {
    .slds-progress {
        max-width: 40% ;
        margin: 0 ;
    }

    .slds-custom-navbar {
        padding-top: 2.312em ;
        padding-bottom: 2.312em ;
    }

    .slds-max-sm-show {
        display: none ;
    }

    .slds-md-show {
        display: -webkit-box ;
        display: -ms-flexbox ;
        display: flex ;
    }
}
