/* line 19, ../../../../aui/sass/css/chosen.scss */
.chosen-select {
  width: 100%;
}

/* line 20, ../../../../aui/sass/css/chosen.scss */
.chosen-select-deselect {
  width: 100%;
}

/* line 22, ../../../../aui/sass/css/chosen.scss */
.chosen-container {
  display: inline-block;
  font-size: 12px;
  position: relative;
  vertical-align: middle;
}
/* line 28, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-drop {
  background: whitesmoke;
  border: 1px solid #999999;
  border-top-color: #d9d9d9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  margin-top: -1px;
  position: absolute;
  top: 100%;
  left: -9000px;
  z-index: 1060;
}
/* line 41, ../../../../aui/sass/css/chosen.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
  right: 0;
}
/* line 46, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results {
  color: #334445;
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 56, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li {
  display: none;
  line-height: 1.666666667;
  list-style: none;
  margin: 0;
  padding: 5px 6px;
}
/* line 63, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li em {
  background: #f0f0f0;
  font-style: normal;
}
/* line 68, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  cursor: default;
  color: #334445;
  font-weight: bold;
}
/* line 75, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
/* line 79, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li.active-result {
  cursor: pointer;
  display: list-item;
}
/* line 84, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li.highlighted {
  background-color: #3498db;
  color: white;
}
/* line 88, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li.highlighted em {
  background: transparent;
}
/* line 93, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #999999;
}
/* line 99, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results .no-results {
  background: #eeeeee;
  display: list-item;
}
/* line 105, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  z-index: 1;
}
/* line 113, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results-scroll span {
  display: inline-block;
  height: 1.666666667;
  text-indent: -5000px;
  width: 9px;
}
/* line 121, ../../../../aui/sass/css/chosen.scss */
.chosen-container .chosen-results-scroll-down {
  bottom: 0;
}

/* line 136, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single {
  background-color: whitesmoke;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  display: block;
  height: 31px;
  overflow: hidden;
  line-height: 31px;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
/* line 154, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 160, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single abbr {
  display: block;
  font-size: 1px;
  height: 10px;
  position: absolute;
  right: 26px;
  top: 10.5px;
  width: 12px;
}
/* line 170, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: right -11px;
}
/* line 175, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
  background-position: right 2px;
}
/* line 179, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single div {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
}
/* line 187, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 196, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-default {
  color: #334445;
}
/* line 200, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-search {
  margin: 0;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1000;
}
/* line 207, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-search input {
  border: 1px solid #cccccc;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 1px 0;
  padding: 4px 20px 4px 4px;
  width: 100%;
}
/* line 219, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 230, ../../../../aui/sass/css/chosen.scss */
.chosen-container-single-nosearch .chosen-search input {
  position: absolute;
  left: -9000px;
}

/* line 238, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices {
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: text;
  height: auto !important;
  height: 1%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
/* line 252, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
/* line 257, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 262, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-field input {
  background: transparent !important;
  border: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555555;
  height: 29px;
  margin: 0;
  padding: 4px;
  outline: 0;
}
/* line 273, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-field .default {
  color: #999;
}
/* line 278, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-choice {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333333;
  cursor: default;
  line-height: 13px;
  margin: 6px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  position: relative;
}
/* line 295, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
  display: block;
  font-size: 1px;
  height: 10px;
  position: absolute;
  right: 4px;
  top: 5px;
  width: 12px;
}
/* line 305, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
/* line 311, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-choice-focus {
  background: #d4d4d4;
}
/* line 314, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* line 320, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-results {
  margin: 0 0 0 0;
  padding: 0;
}
/* line 326, ../../../../aui/sass/css/chosen.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: none;
}

/* line 333, ../../../../aui/sass/css/chosen.scss */
.chosen-container-active .chosen-single {
  border: 1px solid rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 339, ../../../../aui/sass/css/chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  background-color: #eeeeee;
  border: 1px solid rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 345, ../../../../aui/sass/css/chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  background: transparent;
  border-left: none;
}
/* line 349, ../../../../aui/sass/css/chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 7px;
}
/* line 355, ../../../../aui/sass/css/chosen.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid rgba(82, 168, 236, 0.8);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 361, ../../../../aui/sass/css/chosen.scss */
.chosen-container-active .chosen-choices .search-field input {
  color: #111 !important;
}

/* line 367, ../../../../aui/sass/css/chosen.scss */
.chosen-disabled {
  cursor: default;
  opacity: 0.5 !important;
}
/* line 371, ../../../../aui/sass/css/chosen.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}
/* line 375, ../../../../aui/sass/css/chosen.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* line 380, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl {
  text-align: right;
}
/* line 383, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-single {
  padding: 0 8px 0 0;
  overflow: visible;
}
/* line 387, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}
/* line 393, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-single div {
  left: 7px;
  right: auto;
}
/* line 398, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-single abbr {
  left: 26px;
  right: auto;
}
/* line 405, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-choices .search-field input {
  direction: rtl;
}
/* line 409, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}
/* line 413, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-choices .search-choice {
  margin: 6px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
/* line 417, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-choices .search-choice .search-choice-close {
  background-position: right top;
  left: 4px;
  right: auto;
}
/* line 425, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
/* line 430, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}
/* line 435, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
/* line 439, ../../../../aui/sass/css/chosen.scss */
.chosen-rtl .chosen-search input {
  direction: rtl;
  padding: 4px 5px 4px 20px;
}
