.slds-popover {
	background-color: rgb(22, 50, 92);
	font-family: 'Salesforce Sans';
}

.slds-popover__body,
.slds-popover__header,
.slds-popover__footer {
	font-size: .8125rem;
	color: white;
}