/* loader content */
.pfm-loader_dot {
    margin-bottom: -3px;
}
.pfm-loader_dot {
    animation: bounce 1.25s ease .5s infinite;
}

.pfm-loader_dot:nth-of-type(1) { animation-delay: .2s; }
.pfm-loader_dot:nth-of-type(2) { animation-delay: .35s; }
.pfm-loader_dot:nth-of-type(3) { animation-delay: .5s; }

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-6px); }
    50%  { transform: scale(1.05,.95) translateY(2px); }
    100% { transform: scale(1,1)      translateY(0); }
}
