/**
 * Styles specific to the theme.page in pagesapi
 */
/* line 9, ../theme.scss */
.aui#aui-layout .ace_editor {
  height: 325px !important;
  border: 1px solid #eee !important;
}
/* line 10, ../theme.scss */
.aui#aui-layout .ace-hidden-input {
  visibility: hidden !important;
  height: 0 !important;
}
/* line 13, ../theme.scss */
.aui#aui-layout .colorpicker {
  width: 356px;
  height: 176px;
  overflow: hidden;
  position: absolute;
  background: url(../../lib/colorpicker/../lib/colorpicker/images/colorpicker_background.png);
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  z-index: 9999;
}
/* line 23, ../theme.scss */
.aui#aui-layout .colorpicker_color {
  width: 150px;
  height: 150px;
  left: 14px;
  top: 13px;
  position: absolute;
  background: #f00;
  overflow: hidden;
  cursor: crosshair;
}
/* line 33, ../theme.scss */
.aui#aui-layout .colorpicker_color div {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: url(../../lib/colorpicker/../lib/colorpicker/images/colorpicker_overlay.png);
}
/* line 41, ../theme.scss */
.aui#aui-layout .colorpicker_color div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background: url(../../lib/colorpicker/../lib/colorpicker/images/colorpicker_select.gif);
  margin: -5px 0 0 -5px;
}
/* line 51, ../theme.scss */
.aui#aui-layout .colorpicker_hue {
  position: absolute;
  top: 13px;
  left: 171px;
  width: 35px;
  height: 150px;
  cursor: n-resize;
}
/* line 59, ../theme.scss */
.aui#aui-layout .colorpicker_hue div {
  position: absolute;
  width: 35px;
  height: 9px;
  overflow: hidden;
  background: url(../../lib/colorpicker/../lib/colorpicker/images/colorpicker_indic.gif) left top;
  margin: -4px 0 0 0;
  left: 0px;
}
/* line 68, ../theme.scss */
.aui#aui-layout .colorpicker_new_color {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 213px;
  top: 13px;
  background: #f00;
}
/* line 76, ../theme.scss */
.aui#aui-layout .colorpicker_current_color {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 283px;
  top: 13px;
  background: #f00;
}
/* line 84, ../theme.scss */
.aui#aui-layout .colorpicker input {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #898989;
  top: 4px;
  right: 11px;
  text-align: right;
  margin: 0;
  padding: 0;
  height: 11px;
}
/* line 98, ../theme.scss */
.aui#aui-layout .colorpicker_hex {
  position: absolute;
  width: 72px;
  height: 22px;
  background: url(../../lib/colorpicker/images/colorpicker_hex.png) top;
  left: 212px;
  top: 142px;
}
/* line 106, ../theme.scss */
.aui#aui-layout .colorpicker_hex input {
  right: 6px;
}
/* line 109, ../theme.scss */
.aui#aui-layout .colorpicker_field {
  height: 22px;
  width: 62px;
  background-position: top;
  position: absolute;
}
/* line 115, ../theme.scss */
.aui#aui-layout .colorpicker_field span {
  position: absolute;
  width: 12px;
  height: 22px;
  overflow: hidden;
  top: 0;
  right: 0;
  cursor: n-resize;
}
/* line 124, ../theme.scss */
.aui#aui-layout .colorpicker_rgb_r {
  background-image: url(../../lib/colorpicker/images/colorpicker_rgb_r.png);
  top: 52px;
  left: 212px;
}
/* line 129, ../theme.scss */
.aui#aui-layout .colorpicker_rgb_g {
  background-image: url(../../lib/colorpicker/images/colorpicker_rgb_g.png);
  top: 82px;
  left: 212px;
}
/* line 134, ../theme.scss */
.aui#aui-layout .colorpicker_rgb_b {
  background-image: url(../../lib/colorpicker/images/colorpicker_rgb_b.png);
  top: 112px;
  left: 212px;
}
/* line 139, ../theme.scss */
.aui#aui-layout .colorpicker_hsb_h {
  background-image: url(../../lib/colorpicker/images/colorpicker_hsb_h.png);
  top: 52px;
  left: 282px;
}
/* line 144, ../theme.scss */
.aui#aui-layout .colorpicker_hsb_s {
  background-image: url(../../lib/colorpicker/images/colorpicker_hsb_s.png);
  top: 82px;
  left: 282px;
}
/* line 149, ../theme.scss */
.aui#aui-layout .colorpicker_hsb_b {
  background-image: url(../../lib/colorpicker/images/colorpicker_hsb_b.png);
  top: 112px;
  left: 282px;
}
/* line 154, ../theme.scss */
.aui#aui-layout .colorpicker_submit {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../../lib/colorpicker/images/colorpicker_submit.png) top;
  left: 322px;
  top: 142px;
  overflow: hidden;
}
/* line 163, ../theme.scss */
.aui#aui-layout .colorpicker_focus {
  background-position: center;
}
/* line 166, ../theme.scss */
.aui#aui-layout .colorpicker_hex.colorpicker_focus {
  background-position: bottom;
}
/* line 169, ../theme.scss */
.aui#aui-layout .colorpicker_submit.colorpicker_focus {
  background-position: bottom;
}
/* line 172, ../theme.scss */
.aui#aui-layout .colorpicker_slider {
  background-position: bottom;
}
/* line 178, ../theme.scss */
.aui#aui-layout .colorpicker-container {
  width: 140px;
  text-align: center;
}
/* line 179, ../theme.scss */
.aui#aui-layout .colorpicker-container label {
  font-size: 12px;
}
/* line 180, ../theme.scss */
.aui#aui-layout .swatch {
  width: 36px;
  height: 36px;
  border: 2px solid #f4f4f5;
  border-radius: 4px;
  display: block;
  position: relative;
  top: -36px;
  z-index: 1;
}
/* line 181, ../theme.scss */
.aui#aui-layout .js-colorpicker {
  position: relative;
  display: block;
  color: transparent;
  background-color: transparent;
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  z-index: 999;
}
/* line 182, ../theme.scss */
.aui#aui-layout .js-colorpicker:hover, .aui#aui-layout #main .js-colorpicker:focus {
  cursor: pointer;
}
/* line 183, ../theme.scss */
.aui#aui-layout .colorpicker-container .picker {
  margin-right: auto;
  margin-left: auto;
  width: 36px;
}
/* line 184, ../theme.scss */
.aui#aui-layout .colorpicker {
  z-index: 9999 !important;
}
/* line 187, ../theme.scss */
.aui#aui-layout .logoImage {
  max-height: 95px !important;
  max-width: 200px !important;
  width: auto !important;
}
/* line 190, ../theme.scss */
.aui#aui-layout .ace_editor {
  height: 420px !important;
}
/* line 191, ../theme.scss */
.aui#aui-layout .ace-hidden-input {
  visibility: hidden !important;
}
