/* line 6, ../wizard.scss */
.aui#aui-layout {
  /* WIZARD NAVIGATION */
  /* WIZARD CONTENT */
  /* WIZARD PROGRESS BAR */
  /* WIZARD CARDS */
  /* WIZARD FOOTER */
  /* Inner Card */
}
/* line 8, ../wizard.scss */
.aui#aui-layout .wizard {
  display: none;
}
/* line 12, ../wizard.scss */
.aui#aui-layout .wizard-back,
.aui#aui-layout .wizard-next {
  padding: 2px 32px;
}
/* line 21, ../wizard.scss */
.aui#aui-layout .modal-body.wizard-body {
  padding: 0;
  margin: 0;
}
/* line 27, ../wizard.scss */
.aui#aui-layout .wizard-header {
  padding: 9px 15px;
  border-bottom: 0;
}
/* line 32, ../wizard.scss */
.aui#aui-layout .wizard-header h3 {
  margin: 0;
  line-height: 35px;
  display: inline;
  font-family: inherit;
  -webkit-text-rendering: optimizelegibility;
}
/* line 40, ../wizard.scss */
.aui#aui-layout .wizard-subtitle {
  font-weight: bold;
  color: #999;
  padding-left: 20px;
}
/* line 47, ../wizard.scss */
.aui#aui-layout .wizard-steps {
  width: 28%;
  background-color: #EEEEEE;
  border-bottom-left-radius: 0;
  position: relative;
}
/* line 54, ../wizard.scss */
.aui#aui-layout .wizard-nav-container {
  padding-bottom: 30px;
}
/* line 58, ../wizard.scss */
.aui#aui-layout .wizard-nav-list {
  margin-bottom: 0;
}
/* line 62, ../wizard.scss */
.aui#aui-layout .wizard-nav-link .glyphicon-chevron-right {
  float: right;
  margin-top: 12px;
  margin-right: -6px;
  opacity: .25;
}
/* line 69, ../wizard.scss */
.aui#aui-layout li.wizard-nav-item.active .glyphicon-chevron-right {
  opacity: 1;
}
/* line 73, ../wizard.scss */
.aui#aui-layout li.wizard-nav-item {
  line-height: 40px;
}
/* line 77, ../wizard.scss */
.aui#aui-layout .wizard-nav-list > li > a {
  background-color: #f4f5f5;
  padding: 3px 15px 3px 20px;
  cursor: default;
  color: #565656;
}
/* line 84, ../wizard.scss */
.aui#aui-layout .wizard-nav-list > li > a:hover {
  background-color: #fafafa;
}
/* line 88, ../wizard.scss */
.aui#aui-layout .wizard-nav-list > li.already-visited > a.wizard-nav-link {
  color: #565656;
  cursor: pointer;
}
/* line 93, ../wizard.scss */
.aui#aui-layout .wizard-nav-list > li.active > a.wizard-nav-link {
  color: white;
}
/* line 97, ../wizard.scss */
.aui#aui-layout .wizard-nav-item .already-visited .active {
  background-color: #d38110;
  color: rgba(255, 255, 255, 0.35);
}
/* line 102, ../wizard.scss */
.aui#aui-layout .wizard-nav-list li.active > a {
  background-color: #EF9B27;
  color: rgba(255, 255, 255, 0.8);
}
/* line 108, ../wizard.scss */
.aui#aui-layout .wizard-body form {
  padding: 0;
  margin: 0;
}
/* line 114, ../wizard.scss */
.aui#aui-layout .wizard-progress-container {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 122, ../wizard.scss */
.aui#aui-layout .wizard-card-container {
  margin-left: 28%;
}
/* line 127, ../wizard.scss */
.aui#aui-layout .wizard-error,
.aui#aui-layout .wizard-failure,
.aui#aui-layout .wizard-success,
.aui#aui-layout .wizard-loading,
.aui#aui-layout .wizard-card {
  border-top: 1px solid #EEE;
  display: none;
  padding: 35px;
  padding-top: 20px;
}
/* line 138, ../wizard.scss */
.aui#aui-layout .wizard-card-overlay {
  overflow-y: initial;
}
/* line 142, ../wizard.scss */
.aui#aui-layout .wizard-card > h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  font-weight: normal;
}
/* line 150, ../wizard.scss */
.aui#aui-layout .wizard-header .close {
  margin-top: 4px !important;
  font-size: 28px !important;
}
/* line 156, ../wizard.scss */
.aui#aui-layout .wizard-footer {
  padding: 0;
}
/* line 160, ../wizard.scss */
.aui#aui-layout .wizard-buttons-container {
  padding: 20px;
}
/* line 164, ../wizard.scss */
.aui#aui-layout .wizard-cancel {
  margin-left: 12px;
}
/* line 169, ../wizard.scss */
.aui#aui-layout .wizard-input-section {
  margin-bottom: 20px;
}
/* line 173, ../wizard.scss */
.aui#aui-layout .wizard-dialog .popover.error-popover {
  background-color: #F2F0F0;
  color: #962d22;
  border-color: #C0392B;
}
/* line 179, ../wizard.scss */
.aui#aui-layout .wizard-dialog .popover.error-popover .arrow::after {
  border-right-color: #F2F0F0;
}
/* line 183, ../wizard.scss */
.aui#aui-layout .wizard-dialog .popover.error-popover .popover-title {
  display: none;
}
/* line 187, ../wizard.scss */
.aui#aui-layout .wizard-dialog .popover.error-popover .arrow {
  border-right-color: #C0392B;
}
/* line 191, ../wizard.scss */
.aui#aui-layout .wizard-card-instructions {
  margin: 15px 0;
  padding: 15px 10px 15px 5px;
  border: 1px solid #eee;
  background-color: #f4f5f5;
  font-size: 14px;
  color: #454545;
}
/* line 192, ../wizard.scss */
.aui#aui-layout .wizard-card-instructions .info-glyph > i:first-child {
  color: #FFF !important;
  z-index: 1;
}
/* line 193, ../wizard.scss */
.aui#aui-layout .wizard-card-instructions .info-glyph > i:last-child {
  color: #FFB62E !important;
  z-index: 0;
}
/* line 194, ../wizard.scss */
.aui#aui-layout .wizard-card-instructions .info-glyph {
  display: block;
  verical-align: top;
  float: left;
}
