/* line 6, ../shipping.scss */
.aui#aui-layout .card {
  padding: 20px;
  height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-color: #A6A6A6;
  border-width: 1px;
  border-style: solid;
  color: black;
  position: relative;
  transition: all .25s ease-in-out;
}
/* line 20, ../shipping.scss */
.aui#aui-layout .card.disabled {
  opacity: .2;
  cursor: not-allowed;
}
/* line 23, ../shipping.scss */
.aui#aui-layout .card.disabled:hover {
  background: #C0392B;
}
/* line 27, ../shipping.scss */
.aui#aui-layout .card .default {
  top: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #A6A6A6;
  z-index: 1;
  transition: all .25s ease-in-out;
}
/* line 38, ../shipping.scss */
.aui#aui-layout .card .default .set-as {
  display: none;
}
/* line 42, ../shipping.scss */
.aui#aui-layout .card .action {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all .25s ease-in-out;
}
/* line 57, ../shipping.scss */
.aui#aui-layout .card:hover .default {
  background: #EF9B27;
  color: white;
}
/* line 60, ../shipping.scss */
.aui#aui-layout .card:hover .default .set-as {
  display: inline-block;
}
/* line 64, ../shipping.scss */
.aui#aui-layout .card:hover .action {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
}
/* line 72, ../shipping.scss */
.aui#aui-layout .add-box {
  background-color: #b0b0b0;
  color: #f2f2f2;
  border: none;
  font-weight: bold;
  transition: all .25s ease-in-out;
}
/* line 78, ../shipping.scss */
.aui#aui-layout .add-box:hover {
  background-color: #EF9B27;
  color: white;
}
/* line 84, ../shipping.scss */
.aui#aui-layout .bt-stack {
  color: white;
}
/* line 86, ../shipping.scss */
.aui#aui-layout .bt-stack.trash, .aui#aui-layout .bt-stack.edit {
  z-index: 3;
  color: white;
}
/* line 89, ../shipping.scss */
.aui#aui-layout .bt-stack.trash .bt-stack-1x, .aui#aui-layout .bt-stack.edit .bt-stack-1x {
  transition: all .125s ease-in-out;
}
/* line 95, ../shipping.scss */
.aui#aui-layout .bt-stack.trash:hover .bt-stack-1x {
  font-weight: 900;
  color: #C0392B;
}
/* line 104, ../shipping.scss */
.aui#aui-layout .bt-stack.edit:hover .bt-stack-1x {
  font-weight: 900;
  color: #EF9B27;
}
/* line 111, ../shipping.scss */
.aui#aui-layout .bt-stack .bt-stack-sm {
  z-index: 2;
}
/* line 115, ../shipping.scss */
.aui#aui-layout .v-center {
  min-height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
/* line 122, ../shipping.scss */
.aui#aui-layout .select-dual-list .list-group {
  max-height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}
/* line 126, ../shipping.scss */
.aui#aui-layout .select-dual-list .list-group .list-group-item:last-of-type {
  border-bottom: none;
}
/* line 130, ../shipping.scss */
.aui#aui-layout .select-dual-list .input-group {
  margin-right: -1px;
}
/* line 133, ../shipping.scss */
.aui#aui-layout .select-dual-list .input-group-btn {
  font-size: 15px;
}
/* line 135, ../shipping.scss */
.aui#aui-layout .select-dual-list .input-group-btn input.form-control {
  border-right: none;
}
/* line 138, ../shipping.scss */
.aui#aui-layout .select-dual-list .input-group-btn .btn {
  border: 1px solid #ccc;
  border-left: none;
  padding-top: 1px;
  padding-bottom: 1px;
}
