.selectize-control.loading {
	text-align: left!important;
}

.selectize-control.single .selectize-input {
	background: white;
	background-color: white;
	background-image: unset!important;
	border-color: #d8dde6;
	height: 36px;
}

.selectize-control.single .selectize-input.disabled {
	background-color: #e0e5ee!important;
	border-color: #a8b7c7!important;
	cursor: not-allowed!important;
	-webkit-user-select: none;
	background-image: initial!important;
	opacity: 1.0!important;
}

.selectize-control.single .selectize-input.disabled * {
	background-color: #e0e5ee!important;
	border-color: #a8b7c7!important;
	cursor: not-allowed!important;
	-webkit-user-select: none;
	background-image: initial!important;
	opacity: 1.0!important;
}

.disable-icon {
	cursor: not-allowed!important;
	display: none;
}

.selectize-input {
	box-shadow: none!important;
}

.selectize-input.focus input {
	padding-right: 25px!important;
}

.slds-input-action-icon {
	position: absolute;
	right: 0;
	height: 36px;
	width: 36px;
	padding: 10px;
	opacity: .5;
	z-index: 2;
	filter: grayscale(100%);
}

.slds-modal .slds-input-action-icon {
	z-index: 100000!important;
}

.slds-input-action-icon.slds-has-items  {
	cursor: pointer;
}

.selectize-control.single .selectize-input:after {
	display: none!important;
}
.selectize-control.single .selectize-input.has-items:after {
	display: none!important;
}

.single .selectize-input div {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.selectize-dropdown {
	z-index: 100001;
}

.selectize-input input {
	width: 100% !important;
}

.selectize-input.focus {
	outline: 0;
	border-color: #1589ee!important;
	background-color: #fff;
	box-shadow: 0 0 3px #0070D2!important;
}


.selectize-input.items.has-options.full.has-items > div:first-of-type{
	text-overflow: ellipsis;
}