/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-0 {
  top: 0px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-0 {
  bottom: 0px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-0 {
  left: 0px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-0 {
  right: 0px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-1 {
  top: 1px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-1 {
  bottom: 1px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-1 {
  left: 1px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-1 {
  right: 1px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-2 {
  top: 2px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-2 {
  bottom: 2px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-2 {
  left: 2px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-2 {
  right: 2px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-4 {
  top: 4px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-4 {
  bottom: 4px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-4 {
  left: 4px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-4 {
  right: 4px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-5 {
  top: 5px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-5 {
  bottom: 5px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-5 {
  left: 5px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-5 {
  right: 5px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-10 {
  top: 10px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-10 {
  bottom: 10px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-10 {
  left: 10px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-10 {
  right: 10px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-15 {
  top: 15px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-15 {
  bottom: 15px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-15 {
  left: 15px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-15 {
  right: 15px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-20 {
  top: 20px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-20 {
  bottom: 20px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-20 {
  left: 20px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-20 {
  right: 20px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-25 {
  top: 25px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-25 {
  bottom: 25px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-25 {
  left: 25px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-25 {
  right: 25px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-30 {
  top: 30px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-30 {
  bottom: 30px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-30 {
  left: 30px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-30 {
  right: 30px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-35 {
  top: 35px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-35 {
  bottom: 35px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-35 {
  left: 35px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-35 {
  right: 35px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-40 {
  top: 40px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-40 {
  bottom: 40px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-40 {
  left: 40px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-40 {
  right: 40px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-45 {
  top: 45px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-45 {
  bottom: 45px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-45 {
  left: 45px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-45 {
  right: 45px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-50 {
  top: 50px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-50 {
  bottom: 50px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-50 {
  left: 50px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-50 {
  right: 50px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-55 {
  top: 55px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-55 {
  bottom: 55px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-55 {
  left: 55px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-55 {
  right: 55px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-60 {
  top: 60px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-60 {
  bottom: 60px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-60 {
  left: 60px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-60 {
  right: 60px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-65 {
  top: 65px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-65 {
  bottom: 65px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-65 {
  left: 65px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-65 {
  right: 65px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-70 {
  top: 70px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-70 {
  bottom: 70px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-70 {
  left: 70px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-70 {
  right: 70px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-75 {
  top: 75px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-75 {
  bottom: 75px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-75 {
  left: 75px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-75 {
  right: 75px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-80 {
  top: 80px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-80 {
  bottom: 80px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-80 {
  left: 80px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-80 {
  right: 80px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-85 {
  top: 85px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-85 {
  bottom: 85px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-85 {
  left: 85px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-85 {
  right: 85px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-90 {
  top: 90px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-90 {
  bottom: 90px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-90 {
  left: 90px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-90 {
  right: 90px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-95 {
  top: 95px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-95 {
  bottom: 95px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-95 {
  left: 95px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-95 {
  right: 95px !important;
}

/* line 186, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.t-100 {
  top: 100px !important;
}

/* line 189, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.b-100 {
  bottom: 100px !important;
}

/* line 192, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.l-100 {
  left: 100px !important;
}

/* line 195, ../../../../../../../Users/avisser/source/emerald/source/scss/_mixins.scss */
.r-100 {
  right: 100px !important;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* line 4, ../login.scss */
body#main {
  padding-top: 0px !important;
}
/* line 6, ../login.scss */
body#main.login-page {
  padding-bottom: 0 !important;
}

/* line 12, ../login.scss */
.fonteva-topnav, .em-topbar {
  display: none;
  visibility: hidden;
  color: #555555;
}

/* line 18, ../login.scss */
.login-brand {
  text-align: center;
  min-height: 120px;
}
/* line 19, ../login.scss */
.login-brand img {
  margin: 20px auto;
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 120px;
}

/* line 31, ../login.scss */
.login-form {
  padding: 25px 30px;
  min-width: 300px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: none;
}
/* line 38, ../login.scss */
.login-form.extend {
  max-width: 600px;
  min-height: 400px;
}
/* line 44, ../login.scss */
.login-form .form-signin .form-signin-heading {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 18px;
}
/* line 50, ../login.scss */
.login-form .form-signin .form-control.password-input,
.login-form .form-signin .form-control.username-input {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
}
/* line 60, ../login.scss */
.login-form .form-signin .form-control.password-input:focus,
.login-form .form-signin .form-control.username-input:focus {
  z-index: 2;
}
/* line 65, ../login.scss */
.login-form .form-signin .form-control.username-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 73, ../login.scss */
.login-form .form-signin .form-control.password-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
