/* line 21, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-brand-logo {
  max-width: 150px;
  height: auto;
}

/* line 26, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .logo a:hover {
  text-decoration: none;
  color: #7793C4;
}

/* line 31, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper {
  background: #FFF;
  border: 1px solid #CDD3E2;
  box-shadow: 0px 0px 1px #CCC;
  padding: 40px 40px 60px;
  margin-top: 40px;
  border-radius: 4px;
}

/* line 40, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .payment-details span {
  color: #A9B0BB;
  display: block;
}

/* line 44, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .payment-details a {
  display: inline-block;
  margin-top: 5px;
}

/* line 49, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .print a {
  display: inline-block;
  border: 1px solid #9CB5D6;
  padding: 13px 13px;
  border-radius: 5px;
  color: #708DC0;
  font-size: 13px;
  -khtml-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 59, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .print a:hover {
  text-decoration: none;
  border-color: #333;
  color: #333;
}

/* line 65, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content {
  background: transparent;
}

/* line 69, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .logo {
  text-align: center;
  margin-top: 50px;
}

/* line 74, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .logo a {
  font-size: 36px;
  letter-spacing: .1px;
  color: #555;
  font-weight: 300;
  -khtml-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 82, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .intro {
  line-height: 25px;
  color: #444;
}

/* line 87, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .payment-info {
  margin-top: 25px;
  padding-top: 15px;
}

/* line 92, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .payment-info span {
  color: #A9B0BB;
}

/* line 96, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .payment-info strong {
  display: block;
  color: #444;
  margin-top: 3px;
}

@media (max-width: 767px) {
  /* line 103, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
  .receipt-content .invoice-wrapper .payment-info .text-right {
    text-align: left;
    margin-top: 20px;
  }
}
/* line 107, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .payment-details {
  border-top: 2px solid #EBECEE;
  margin-top: 30px;
  padding-top: 20px;
  line-height: 22px;
}

@media (max-width: 767px) {
  /* line 116, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
  .receipt-content .invoice-wrapper .payment-details .text-right {
    text-align: left;
    margin-top: 20px;
  }
}
/* line 120, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items {
  margin-top: 40px;
}

/* line 123, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .headers {
  color: #A9B0BB;
  font-size: 13px;
  letter-spacing: .3px;
  border-bottom: 2px solid #EBECEE;
  padding-bottom: 4px;
}

/* line 130, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .items {
  margin-top: 8px;
  border-bottom: 2px solid #EBECEE;
  padding-bottom: 8px;
}

/* line 135, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .items .item {
  padding: 10px 0;
  color: #696969;
  font-size: 15px;
}

@media (max-width: 767px) {
  /* line 141, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
  .receipt-content .invoice-wrapper .line-items .items .item {
    font-size: 13px;
  }
}
/* line 144, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .items .item .amount {
  letter-spacing: 0.1px;
  color: #84868A;
  font-size: 16px;
}

@media (max-width: 767px) {
  /* line 150, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
  .receipt-content .invoice-wrapper .line-items .items .item .amount {
    font-size: 13px;
  }
}
/* line 154, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total {
  margin-top: 30px;
}

/* line 158, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total .extra-notes {
  float: left;
  width: 40%;
  text-align: left;
  font-size: 13px;
  color: #7A7A7A;
  line-height: 20px;
}

@media (max-width: 767px) {
  /* line 168, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
  .receipt-content .invoice-wrapper .line-items .total .extra-notes {
    width: 100%;
    margin-bottom: 30px;
    float: none;
  }
}
/* line 174, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total .extra-notes strong {
  display: block;
  margin-bottom: 5px;
  color: #454545;
}

/* line 180, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total .field {
  margin-bottom: 7px;
  font-size: 14px;
  color: #555;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total .field.grand-total {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total .field.grand-total span {
  color: #20A720;
  font-size: 16px;
}

/* line 197, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .total .field span {
  display: inline-block;
  margin-left: 20px;
  min-width: 85px;
  color: #84868A;
  font-size: 15px;
}

/* line 205, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .print {
  margin-top: 50px;
  text-align: center;
}

/* line 212, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .invoice-wrapper .line-items .print a i {
  margin-right: 3px;
  font-size: 14px;
}

/* line 217, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.receipt-content .footer {
  margin-top: 40px;
  margin-bottom: 110px;
  text-align: center;
  font-size: 12px;
  color: #969CAD;
}

/* line 231, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice {
  -khtml-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
/* line 233, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action {
  transition: background .3s linear, opacity .3 linear;
  -webkit-transition: background .3s linear, opacity .3s linear;
  -moz-transition: background .3s linear, opacity .3s linear;
  -o-transition: background .3s linear, opacity .3s linear;
}
/* line 238, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view, .invoice .action .payment {
  -khtml-transition: background .35s linear;
  transition: background .35s linear;
}
/* line 243, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice:hover .action {
  opacity: 0;
  color: white;
}
/* line 247, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice:hover .action .view .btn-link, .invoice:hover .action .payment .btn-link {
  opacity: 1;
}

/* line 254, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice {
  height: 300px;
  position: relative;
  opacity: 1;
  overflow: hidden;
  margin: 15px auto;
}
/* line 260, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .overview {
  opacity: 1;
  border: 1px solid #e5e9ec;
  height: 100%;
}
/* line 265, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice p {
  font-weight: 600;
}
/* line 269, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice:hover .overview {
  opacity: 0;
}
/* line 272, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice:hover .action {
  opacity: 1;
}
/* line 274, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice:hover .action .view, .invoice:hover .action .payment {
  background: white;
}
/* line 276, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice:hover .action .view .icon, .invoice:hover .action .view .select, .invoice:hover .action .payment .icon, .invoice:hover .action .payment .select {
  opacity: 1;
}
/* line 282, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action {
  height: 100%;
  background: rgba(255, 255, 255, 0);
  color: black;
}
/* line 286, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view, .invoice .action .payment {
  position: absolute;
  height: 150px;
  width: auto;
  border-left: 1px solid #e5e9ec;
  border-right: 1px solid #e5e9ec;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  right: 0;
  left: 0;
  margin: auto 15px;
}
/* line 298, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view:hover .btn-link, .invoice .action .payment:hover .btn-link {
  color: white;
}
/* line 302, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link, .invoice .action .payment .btn-link {
  top: 50%;
  left: 0;
  margin: auto 15px;
  right: 0;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: auto;
  color: black;
  opacity: 0;
  overflow: hidden;
}
/* line 314, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link .icon, .invoice .action .view .btn-link .select, .invoice .action .payment .btn-link .icon, .invoice .action .payment .btn-link .select {
  position: absolute;
  top: 50%;
  left: 0;
  margin: auto 15px;
  right: 0;
  width: auto;
}
/* line 322, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link .icon, .invoice .action .payment .btn-link .icon {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 1;
  transition: transform .25s linear, opacity .3s linear;
  -webkit-transition: -webkit-transform .25s linear, opacity .3s linear;
  -moz-transition: transform .25s linear, opacity .3s linear;
  -o-transition: transform .25s linear, opacity .3s linear;
}
/* line 330, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link .select, .invoice .action .payment .btn-link .select {
  -webkit-transform: translate(0, -350%);
  transform: translate(0, -350%);
  opacity: 0;
  font-weight: 600;
  transition: transform .25s linear, opacity .3s linear;
  -webkit-transition: -webkit-transform .25s linear, opacity .3s linear;
  -moz-transition: transform .25s linear, opacity .3s linear;
  -o-transition: transform .25s linear, opacity .3s linear;
}
/* line 339, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link:hover, .invoice .action .payment .btn-link:hover {
  color: white;
}
/* line 341, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link:hover .icon, .invoice .action .payment .btn-link:hover .icon {
  opacity: 0;
  -webkit-transform: translate(0, 150%);
  transform: translate(0, 150%);
}
/* line 345, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view .btn-link:hover .select, .invoice .action .payment .btn-link:hover .select {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 1;
}
/* line 352, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view {
  top: 0;
  background: rgba(255, 255, 255, 0);
  border-top: 1px solid #e5e9ec;
}
/* line 356, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .view:hover {
  background: #4da3e0;
}
/* line 360, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .payment {
  bottom: 0;
  border-bottom: 1px solid #e5e9ec;
  background: rgba(255, 255, 255, 0);
}
/* line 364, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .action .payment:hover {
  background: #5dd255;
}
/* line 370, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .overview .description {
  position: absolute;
  top: 25px;
  left: 0;
  margin: auto 15px;
  right: 0;
  width: auto;
}
/* line 378, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .overview .due {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto 15px;
  width: auto;
}
/* line 386, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .overview .amount {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  margin: auto 15px;
  right: 0;
  width: auto;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 395, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .overview .amount .btn {
  font-size: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 396, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_invoice.scss */
.invoice .overview .amount .btn.disabled {
  color: black;
}
