/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-0 {
  top: 0px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-0 {
  bottom: 0px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-0 {
  left: 0px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-0 {
  right: 0px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-1 {
  top: 1px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-1 {
  bottom: 1px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-1 {
  left: 1px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-1 {
  right: 1px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-2 {
  top: 2px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-2 {
  bottom: 2px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-2 {
  left: 2px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-2 {
  right: 2px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-4 {
  top: 4px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-4 {
  bottom: 4px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-4 {
  left: 4px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-4 {
  right: 4px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-5 {
  top: 5px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-5 {
  bottom: 5px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-5 {
  left: 5px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-5 {
  right: 5px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-10 {
  top: 10px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-10 {
  bottom: 10px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-10 {
  left: 10px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-10 {
  right: 10px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-15 {
  top: 15px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-15 {
  bottom: 15px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-15 {
  left: 15px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-15 {
  right: 15px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-20 {
  top: 20px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-20 {
  bottom: 20px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-20 {
  left: 20px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-20 {
  right: 20px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-25 {
  top: 25px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-25 {
  bottom: 25px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-25 {
  left: 25px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-25 {
  right: 25px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-30 {
  top: 30px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-30 {
  bottom: 30px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-30 {
  left: 30px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-30 {
  right: 30px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-35 {
  top: 35px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-35 {
  bottom: 35px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-35 {
  left: 35px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-35 {
  right: 35px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-40 {
  top: 40px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-40 {
  bottom: 40px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-40 {
  left: 40px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-40 {
  right: 40px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-45 {
  top: 45px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-45 {
  bottom: 45px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-45 {
  left: 45px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-45 {
  right: 45px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-50 {
  top: 50px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-50 {
  bottom: 50px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-50 {
  left: 50px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-50 {
  right: 50px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-55 {
  top: 55px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-55 {
  bottom: 55px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-55 {
  left: 55px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-55 {
  right: 55px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-60 {
  top: 60px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-60 {
  bottom: 60px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-60 {
  left: 60px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-60 {
  right: 60px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-65 {
  top: 65px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-65 {
  bottom: 65px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-65 {
  left: 65px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-65 {
  right: 65px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-70 {
  top: 70px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-70 {
  bottom: 70px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-70 {
  left: 70px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-70 {
  right: 70px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-75 {
  top: 75px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-75 {
  bottom: 75px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-75 {
  left: 75px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-75 {
  right: 75px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-80 {
  top: 80px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-80 {
  bottom: 80px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-80 {
  left: 80px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-80 {
  right: 80px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-85 {
  top: 85px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-85 {
  bottom: 85px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-85 {
  left: 85px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-85 {
  right: 85px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-90 {
  top: 90px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-90 {
  bottom: 90px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-90 {
  left: 90px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-90 {
  right: 90px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-95 {
  top: 95px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-95 {
  bottom: 95px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-95 {
  left: 95px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-95 {
  right: 95px !important;
}

/* line 186, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.t-100 {
  top: 100px !important;
}

/* line 189, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.b-100 {
  bottom: 100px !important;
}

/* line 192, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.l-100 {
  left: 100px !important;
}

/* line 195, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/_mixins.scss */
.r-100 {
  right: 100px !important;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor {
  position: relative;
  overflow: inherit;
  border: 1px solid #a9a9a9;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-dropzone {
  position: absolute;
  z-index: 100;
  display: none;
  color: #87cefa;
  background-color: white;
  opacity: .95;
  pointer-event: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-dropzone .note-dropzone-message {
  display: table-cell;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-dropzone.hover {
  color: #098ddf;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor.dragover .note-dropzone {
  display: table;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor.codeview .note-editing-area .note-editable {
  display: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor.codeview .note-editing-area .note-codable {
  display: block;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor.fullscreen .note-editable {
  background-color: white;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor.fullscreen .note-resizebar {
  display: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-editing-area {
  position: relative;
  overflow: hidden;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-editing-area .note-editable {
  padding: 10px;
  overflow: auto;
  color: #000;
  background-color: #fff;
  outline: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-editing-area .note-editable[contenteditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder);
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-editing-area .note-editable[contenteditable="false"] {
  background-color: #e5e5e5;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-editing-area .note-codable {
  display: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-family: Menlo,Monaco,monospace,sans-serif;
  font-size: 14px;
  color: #ccc;
  background-color: #222;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-statusbar {
  background-color: #f5f5f5;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-statusbar .note-resizebar {
  width: 100%;
  height: 8px;
  padding-top: 1px;
  cursor: ns-resize;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-editor .note-statusbar .note-resizebar .note-icon-bar {
  width: 20px;
  margin: 1px auto;
  border-top: 1px solid #a9a9a9;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-air-editor {
  outline: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover {
  max-width: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content a {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .arrow {
  left: 20px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content, .panel-heading.note-toolbar {
  padding: 0 0 5px 5px;
  margin: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content > .btn-group, .panel-heading.note-toolbar > .btn-group {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .btn-group .note-table, .panel-heading.note-toolbar .btn-group .note-table {
  min-width: 0;
  padding: 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .btn-group .note-table .note-dimension-picker, .panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker {
  font-size: 18px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher, .panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher {
  position: absolute !important;
  z-index: 3;
  width: 10em;
  height: 10em;
  cursor: pointer;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted, .panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted {
  position: relative !important;
  z-index: 1;
  width: 5em;
  height: 5em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted, .panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted {
  position: absolute !important;
  z-index: 2;
  width: 1em;
  height: 1em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-style h1, .panel-heading.note-toolbar .note-style h1, .note-popover .popover .popover-content .note-style h2, .panel-heading.note-toolbar .note-style h2, .note-popover .popover .popover-content .note-style h3, .panel-heading.note-toolbar .note-style h3, .note-popover .popover .popover-content .note-style h4, .panel-heading.note-toolbar .note-style h4, .note-popover .popover .popover-content .note-style h5, .panel-heading.note-toolbar .note-style h5, .note-popover .popover .popover-content .note-style h6, .panel-heading.note-toolbar .note-style h6, .note-popover .popover .popover-content .note-style blockquote, .panel-heading.note-toolbar .note-style blockquote {
  margin: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-toggle, .panel-heading.note-toolbar .note-color .dropdown-toggle {
  width: 20px;
  padding-left: 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
  min-width: 340px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group {
  margin: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group:first-child, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group:first-child {
  margin: 0 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-palette-title, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-palette-title {
  margin: 2px 7px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset {
  padding: 0 3px;
  margin: 3px;
  font-size: 11px;
  cursor: pointer;
  border-radius: 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-row, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-row {
  height: 20px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset:hover, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset:hover {
  background: #eee;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu {
  min-width: 216px;
  padding: 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-para .dropdown-menu > div:first-child, .panel-heading.note-toolbar .note-para .dropdown-menu > div:first-child {
  margin-right: 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu {
  min-width: 90px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .dropdown-menu.right, .panel-heading.note-toolbar .dropdown-menu.right {
  right: 0;
  left: auto;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .dropdown-menu.right::before, .panel-heading.note-toolbar .dropdown-menu.right::before {
  right: 9px;
  left: auto !important;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .dropdown-menu.right::after, .panel-heading.note-toolbar .dropdown-menu.right::after {
  right: 10px;
  left: auto !important;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .dropdown-menu.note-check li a i, .panel-heading.note-toolbar .dropdown-menu.note-check li a i {
  color: deepskyblue;
  visibility: hidden;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .dropdown-menu.note-check li a.checked i, .panel-heading.note-toolbar .dropdown-menu.note-check li a.checked i {
  visibility: visible;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-fontsize-10, .panel-heading.note-toolbar .note-fontsize-10 {
  font-size: 10px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color-palette, .panel-heading.note-toolbar .note-color-palette {
  line-height: 1;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color-palette div .note-color-btn, .panel-heading.note-toolbar .note-color-palette div .note-color-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-popover .popover .popover-content .note-color-palette div .note-color-btn:hover, .panel-heading.note-toolbar .note-color-palette div .note-color-btn:hover {
  border: 1px solid #000;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog > div {
  display: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .form-group {
  margin-right: 0;
  margin-left: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-modal-form {
  margin: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-image-dialog .note-dropzone {
  min-height: 100px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 4;
  color: lightgray;
  text-align: center;
  border: 4px dashed lightgray;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog {
  font-size: 12px;
  color: #ccc;
  background: transparent;
  background-color: #222 !important;
  border: 0;
  -webkit-opacity: .9;
  -khtml-opacity: .9;
  -moz-opacity: .9;
  opacity: .9;
  -ms-filter: alpha(opacity=90);
  filter: alpha(opacity=90);
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .modal-content {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog a {
  font-size: 12px;
  color: white;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-bottom: white 1px solid;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .modal-close {
  font-size: 14px;
  color: #dd0;
  cursor: pointer;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .text-center {
  margin: 10px 0 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .note-shortcut {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .note-shortcut-row {
  margin-right: -5px;
  margin-left: -5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .note-shortcut-col {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .note-shortcut-title {
  font-size: 13px;
  font-weight: bold;
  color: #dd0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-dialog .note-help-dialog .note-shortcut-key {
  font-family: "Courier New";
  color: #dd0;
  text-align: right;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection {
  position: absolute;
  display: none;
  border: 1px solid black;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection > div {
  position: absolute;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-selection-bg {
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-opacity: .3;
  -khtml-opacity: .3;
  -moz-opacity: .3;
  opacity: .3;
  -ms-filter: alpha(opacity=30);
  filter: alpha(opacity=30);
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-handle {
  width: 7px;
  height: 7px;
  border: 1px solid black;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-holder {
  width: 7px;
  height: 7px;
  border: 1px solid black;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-sizing {
  width: 7px;
  height: 7px;
  background-color: white;
  border: 1px solid black;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-nw {
  top: -5px;
  left: -5px;
  border-right: 0;
  border-bottom: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-ne {
  top: -5px;
  right: -5px;
  border-bottom: 0;
  border-left: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-sw {
  bottom: -5px;
  left: -5px;
  border-top: 0;
  border-right: 0;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-se {
  right: -5px;
  bottom: -5px;
  cursor: se-resize;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-se.note-control-holder {
  cursor: default;
  border-top: 0;
  border-left: none;
}

/* line 1, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.note-handle .note-control-selection .note-control-selection-info {
  right: 0;
  bottom: 0;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  color: white;
  background-color: black;
  border-radius: 5px;
  -webkit-opacity: .7;
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
  -ms-filter: alpha(opacity=70);
  filter: alpha(opacity=70);
}

/* line 4, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .note-editable {
  background-color: #FFFFFF;
}
/* line 7, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .invite-modal-content {
  width: 75%;
}
/* line 10, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .email-address {
  height: 39px;
}

/* line 17, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .cancel-button {
  opacity: .5;
}
/* line 20, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container input.parsley-error,
.registration-group-manager-container select.parsley-error,
.registration-group-manager-container textarea.parsley-error {
  color: #B94A48;
  border: 1px solid #EED3D7;
}
/* line 27, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .parsley-errors-list {
  margin: 2px 0 3px;
  padding: 5px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: red;
  -khtml-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
/* line 39, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .parsley-errors-list.filled {
  opacity: 1;
}
/* line 43, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_registration-group-manager.scss */
.registration-group-manager-container .add-invitee-button-pull-right {
  margin-top: -10px;
}

/* line 3, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.checkout-footer {
  position: fixed;
  bottom: -100px;
  right: 0;
  width: 50%;
  transition: bottom .25s ease-in-out;
}
/* line 9, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.checkout-footer.checkout-reveal {
  bottom: 0;
}

/* line 15, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.fixed.bottom.checkout {
  left: 10%;
  right: 10%;
  width: 80%;
}

/* line 23, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#shopping-cart-items .product-img {
  max-height: 100px;
}

/* line 30, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item.overview .item-badges {
  max-height: 274px;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: transparent solid 15px;
}
/* line 36, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item.overview .item-description {
  max-height: 98px;
  overflow: scroll;
}
/* line 42, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item tbody#assignments tr.selected {
  background-color: #f7f7f7;
}
/* line 45, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item tbody#assignments tr:hover {
  background-color: #f7f7f7;
}
/* line 48, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item tbody#assignments thead th:first-of-type {
  text-align: center;
}
/* line 51, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item tbody#assignments .selectbutton {
  vertical-align: middle;
  padding: 0;
}
/* line 54, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item tbody#assignments .selectbutton .btn-checkbox {
  text-align: center;
}
/* line 56, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.shop-item tbody#assignments .selectbutton .btn-checkbox .btn {
  background: transparent;
}

/* line 65, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.packages .set {
  background: white;
  padding-top: 10px;
}
/* line 68, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.packages .set:nth-of-type(even) {
  background: #eeeeee;
}
/* line 71, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.packages .set .item-price {
  text-align: right;
}

/* line 78, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#accordionSummary a {
  color: gray;
}
/* line 81, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#accordionSummary .panel-heading {
  border: none;
}
/* line 83, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#accordionSummary .panel-heading.btn-default {
  background: rgba(0, 0, 0, 0.1);
  -khtml-transition: all .25s linear;
  transition: all .25s linear;
}
/* line 86, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#accordionSummary .panel-heading.btn-default.focus, #accordionSummary .panel-heading.btn-default.hover {
  background: rgba(0, 0, 0, 0.5);
}

/* line 97, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination li a {
  width: 100%;
  white-space: normal;
  padding: 25px;
  height: 100px;
}
/* line 104, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription {
  font-size: 15px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  border: none;
  transition: all .25s ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
/* line 117, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription.step:hover {
  a-color: black;
}
/* line 123, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription .requirement {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  top: 0;
  right: 0;
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px;
}
/* line 134, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription.done {
  box-shadow: none;
  background: #2ECC71;
}
/* line 138, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription.active {
  box-shadow: none;
}
/* line 141, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription:focus {
  box-shadow: none;
}
/* line 144, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.item-pagination .btn-subscription.disabled {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

/* line 158, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#fluid-tables select {
  width: 100%;
  min-width: 150px;
  white-space: normal;
}
/* line 164, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#fluid-tables td.email {
  word-break: break-all;
}
/* line 167, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#fluid-tables td.role {
  width: 20%;
}

@media (max-width: 767px) {
  /* line 174, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .shop-item tbody#assignments .selectbutton .btn-checkbox {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  /* line 182, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .item-pagination li {
    width: 25%;
  }
  /* line 184, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .item-pagination li h4 {
    margin-top: 0;
  }
  /* line 187, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .item-pagination li a {
    width: 100%;
    white-space: normal;
    padding: 15px 25px;
    height: 90px;
    display: table-cell;
    width: 225px;
    vertical-align: middle;
  }
  /* line 197, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .item-pagination.nav-justified > li, .item-pagination.nav-tabs.nav-justified > li {
    vertical-align: top;
    width: auto;
  }
}
@media (max-width: 991px) {
  /* line 207, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .packages .set .item-price {
    text-align: left;
  }
}
@media (min-width: 992px) {
  /* line 216, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .item-pagination li {
    width: 225px;
  }
  /* line 218, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
  .item-pagination li a {
    height: 72px;
  }
}
/* line 229, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.store-container .catalogFilters li a.collapsed.hasChilds:after {
  content: '\f093';
  font-family: 'black tie';
  font-size: 9px;
  float: right;
}
/* line 235, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.store-container .catalogFilters li a.hasChilds:after {
  content: '\f091';
  font-family: 'black tie';
  font-size: 9px;
  float: right;
}
/* line 241, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.store-container .catalogFilters ul li {
  font-weight: bold;
}
/* line 244, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.store-container .catalogFilters ul ul li {
  font-weight: lighter;
  padding-left: 10px;
}

/* line 252, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.badge.square {
  padding: 5px;
  border-radius: 0;
  font-size: 15px;
  margin-right: 2px;
  margin-top: -4px !important;
}

/* line 260, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
.bt-check-circle.text-gray-lighter {
  color: #a3a3a3 !important;
}

/* line 267, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
}

/* line 275, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs li {
  width: 100%;
  pointer-events: none;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-left: 1px solid white;
}
/* line 282, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs li:first-of-type {
  border-left: none;
}

/* line 286, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs li.disabled a {
  color: #999;
}

/* line 290, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs li.disabled.active a {
  color: #000;
}

/* line 294, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs .disabled.active {
  background: #f3f2f3;
}

/* line 298, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#nonClickableTabs .disabled {
  background: #e4e5e4;
}

/* line 302, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
ul#nonClickableTabs {
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

/* line 311, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#shoppingcart-modal .item {
  max-height: 1000px;
  background: white;
}

/* line 316, ../../../../../../../Users/js-kim/workspace/emerald/source/scss/components/_store-page.scss */
#shoppingcart-modal .item.removing {
  max-height: 0;
  transition: max-height .25s ease-out;
}
